* {
  box-sizing: border-box;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;

}

#root span {
  position: absolute;
  top: -107px;
  right: 35%;
  transform: translateX(-50%);
  font-size: 9em;
  opacity: 0.7;
  filter: blur(2px);
}